.form-control:focus {
  box-shadow: none;
  border: 1px solid #c2c2c2; }

.rowHeader {
  background-color: #F5F5F5;
  padding-bottom: 0px;
  border-bottom: 1px solid #c2c2c2;
  margin-left: -55px; }
  .rowHeader .githubIcon {
    padding-top: 10px; }
    .rowHeader .githubIcon img {
      width: 30px;
      float: right; }
  .rowHeader .searchBox {
    padding-top: 10px;
    padding-left: 0; }
    .rowHeader .searchBox .form-group {
      margin-bottom: 10px; }
      .rowHeader .searchBox .form-group .headerSearchBox {
        height: 90%;
        display: inline-block;
        outline: none; }
      .rowHeader .searchBox .form-group:focus {
        outline: none;
        outline-color: transparent;
        outline-style: none; }
  .rowHeader .menuList {
    padding-top: 10px;
    padding-left: 0px; }
    .rowHeader .menuList ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      padding-top: 4px; }
      .rowHeader .menuList ul li {
        display: inline-block;
        padding-right: 5px;
        font-weight: bold;
        font-size: 13px; }
        .rowHeader .menuList ul li a {
          color: black; }
          .rowHeader .menuList ul li a:hover {
            text-decoration: none;
            color: #4078C0; }
  .rowHeader .rightIcons {
    padding-top: 15px;
    display: inline-block; }
    .rowHeader .rightIcons img {
      float: left; }
    .rowHeader .rightIcons .triangle {
      width: 13px;
      padding-left: 4px;
      padding-top: 4px; }
    .rowHeader .rightIcons .avatar {
      width: 20px;
      margin-left: 15px; }

.rowBody {
  margin-left: 5%;
  margin-right: .1%;
  padding-top: 10px; }
  .rowBody .userInfo {
    float: right;
    margin: auto; }
    .rowBody .userInfo .profilePic {
      width: 230px;
      border-radius: 10px; }
    .rowBody .userInfo h3 {
      font-weight: bold;
      padding-bottom: 0px; }
    .rowBody .userInfo h4 {
      color: #767676;
      font-weight: 300;
      padding-top: 0px; }
    .rowBody .userInfo .newBox {
      text-transform: uppercase;
      color: white;
      background-color: #6CC644;
      border-radius: 2px;
      padding: 3px;
      font-weight: bold;
      font-size: 10px; }
    .rowBody .userInfo .emailJoined {
      border-top: 1px solid #e8e8e8;
      border-bottom: 1px solid #e8e8e8;
      padding-top: 15px;
      padding-bottom: 15px;
      line-height: 25px; }
      .rowBody .userInfo .emailJoined .mailIcon {
        padding-right: 5px; }
      .rowBody .userInfo .emailJoined .clockIcon {
        padding-right: 5px; }
    .rowBody .userInfo .followersLine {
      border-bottom: 1px solid #e8e8e8;
      padding-top: 15px;
      padding-bottom: 15px;
      padding-left: 8px; }
      .rowBody .userInfo .followersLine h3 {
        margin-top: 0;
        margin-bottom: 0; }
      .rowBody .userInfo .followersLine a {
        display: inline-block; }
        .rowBody .userInfo .followersLine a:hover {
          text-decoration: none; }
      .rowBody .userInfo .followersLine .followers, .rowBody .userInfo .followersLine .stars {
        padding-right: 52px;
        text-align: center; }
      .rowBody .userInfo .followersLine .followers {
        padding-left: 25px; }
      .rowBody .userInfo .followersLine .followersText, .rowBody .userInfo .followersLine .starsText, .rowBody .userInfo .followersLine .followingText {
        padding-right: 15px;
        font-size: 12px;
        text-align: center; }
        .rowBody .userInfo .followersLine .followersText a, .rowBody .userInfo .followersLine .starsText a, .rowBody .userInfo .followersLine .followingText a {
          color: #767676; }
      .rowBody .userInfo .followersLine .followersText {
        padding-left: 10px; }
      .rowBody .userInfo .followersLine .starsText {
        padding-left: 3px; }
      .rowBody .userInfo .followersLine .followingText {
        padding-left: 5px; }

body {
  font-family: 'Open Sans'; }

.noPadding {
  padding: 0px; }

.gitInfo .tabs ul li a {
  color: #767676; }

.gitInfo .tabs button.btnEditProfile {
  background-color: #F5F5F5;
  border: 1px solid #c2c2c2;
  float: right;
  margin-top: -40px; }
  .gitInfo .tabs button.btnEditProfile:hover {
    background-color: gainsboro; }
  .gitInfo .tabs button.btnEditProfile a {
    color: black;
    font-weight: bold; }
    .gitInfo .tabs button.btnEditProfile a:hover {
      text-decoration: none; }

.gitInfo .tabs .tab-content {
  padding-top: 15px;
  padding-left: 10px; }
  .gitInfo .tabs .tab-content .repositories .topSearchBar {
    border-bottom: 1px solid #EEEEEE;
    margin-left: 0px;
    height: 50px;
    padding-bottom: 10px; }
    .gitInfo .tabs .tab-content .repositories .topSearchBar form {
      display: inline-block; }
      .gitInfo .tabs .tab-content .repositories .topSearchBar form .repoSearch {
        width: 270px; }
      .gitInfo .tabs .tab-content .repositories .topSearchBar form button {
        background-color: #F5F5F5;
        border: 1px solid #c2c2c2;
        font-weight: bold;
        margin-top: -56px;
        margin-left: 275px; }
        .gitInfo .tabs .tab-content .repositories .topSearchBar form button:hover {
          background-color: gainsboro; }
    .gitInfo .tabs .tab-content .repositories .topSearchBar .rightTopSearchBar .menuList {
      margin-left: -45px; }
      .gitInfo .tabs .tab-content .repositories .topSearchBar .rightTopSearchBar .menuList ul {
        list-style-type: none;
        padding-top: 6px; }
        .gitInfo .tabs .tab-content .repositories .topSearchBar .rightTopSearchBar .menuList ul li {
          display: inline-block;
          padding-left: 5px; }
          .gitInfo .tabs .tab-content .repositories .topSearchBar .rightTopSearchBar .menuList ul li a {
            color: #4078C0; }
    .gitInfo .tabs .tab-content .repositories .topSearchBar .rightTopSearchBar .newButton {
      margin-top: -37px;
      float: right; }
      .gitInfo .tabs .tab-content .repositories .topSearchBar .rightTopSearchBar .newButton .btnNew {
        background-color: #72CC52;
        color: white;
        font-weight: bold;
        border: 1px solid #57b536; }
        .gitInfo .tabs .tab-content .repositories .topSearchBar .rightTopSearchBar .newButton .btnNew:hover {
          background-color: #57b536; }
  .gitInfo .tabs .tab-content .repositories .repoContent article {
    padding-top: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid #EEEEEE; }
    .gitInfo .tabs .tab-content .repositories .repoContent article .repoStats span {
      color: #888888;
      float: right;
      font-size: 12px;
      font-weight: bold; }
      .gitInfo .tabs .tab-content .repositories .repoContent article .repoStats span a {
        color: #888888; }
    .gitInfo .tabs .tab-content .repositories .repoContent article .repoDetails {
      margin-top: -20px; }
      .gitInfo .tabs .tab-content .repositories .repoContent article .repoDetails h3 {
        font-weight: bold; }
        .gitInfo .tabs .tab-content .repositories .repoContent article .repoDetails h3 a {
          color: #4078C0; }
        .gitInfo .tabs .tab-content .repositories .repoContent article .repoDetails h3:hover {
          color: #4078C0; }
      .gitInfo .tabs .tab-content .repositories .repoContent article .repoDetails .description {
        margin-bottom: 5px;
        font-size: 14px; }
      .gitInfo .tabs .tab-content .repositories .repoContent article .repoDetails .updated {
        font-size: 13px;
        color: #888888; }
  .gitInfo .tabs .tab-content .publicActivity article {
    color: #767676;
    border-bottom: 1px solid gainsboro;
    padding-top: 5px;
    padding-bottom: 5px; }
    .gitInfo .tabs .tab-content .publicActivity article img {
      padding: 15px; }
    .gitInfo .tabs .tab-content .publicActivity article a {
      color: #4078C0; }
    .gitInfo .tabs .tab-content .publicActivity article .branchType {
      padding: 2px 6px;
      font-family: Courier;
      border-radius: 3px;
      background-color: #E8F1F6; }
    .gitInfo .tabs .tab-content .publicActivity article .createdAgo {
      font-size: 12px;
      color: #c2c2c2; }
  .gitInfo .tabs .tab-content .publicActivity .pushEvent .icon {
    width: 6%;
    position: absolute; }
  .gitInfo .tabs .tab-content .publicActivity .pushEvent .avatar {
    width: 10%; }
  .gitInfo .tabs .tab-content .publicActivity .pushEvent p {
    padding-left: 45px; }
    .gitInfo .tabs .tab-content .publicActivity .pushEvent p .bold {
      font-weight: bold; }
